*{
    margin: 0;
    padding: 0;
}

h1{
    display: block;
    font-size: 0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container{
    width: 100%;
    max-width: 2336px;
    margin: 0 auto;
}

.header-wrapper{
    display: flex;
}

.icon-box{
    background-color: #4C4E50;
    width: 100%;
    max-width: 310px;
    position: relative;
    height: 310px;
}

.icon-box > img {
    width: 100%;
    max-width: 210px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 38px solid #157698;
    border-right: none;
    border-radius: 38px 0 0 38px;
}

.header-info{
    width: 100%;
    border-bottom: 38px solid #157698;
    font-family: 'Roboto', sans-serif;
}

.header-info > h2{
    text-align: center;
    padding-top: 24px;
}

.name{
    font-weight: 900;
    font-size: 80px;
    line-height: 117px;
    letter-spacing: 0.005em;
    color: #157698;
}

.sirname{
    font-weight: 300;
    font-size: 80px;
    line-height: 117px;
    letter-spacing: 0.005em;
    color: #A9A9A9;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.nav-list > li{
    color: #333333;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.03em;
    width: 34%;
}

.link:hover{
    color: #157698;
}

a{
    text-decoration: none;
    color: #333333;
}

.icon{
    width: 40px;
    vertical-align: sub;
    padding-right: 13px;
}

.wrapper-columns{
    display: flex;
    
}

.more-contacts{
    width: 100%;
    max-width: 658px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
}

.cnt{
    margin-left: 62px;
}

.more-contacts-nav{
    margin-top: 25px;
    padding-left: 62px;  
}

.section-header{
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #157698;
    position: relative;
}

.section-header::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #157698;
    height: 3px;
    width: 51%;
    margin-bottom: -15px;
}

.more-icon{
    width: 20px;
    vertical-align: sub;
    padding-right: 10px;
}

.more-contacts-list{
    list-style: none;
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0.05em;
    color: #4F4F4F;
}

.about-me{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
}

.about-me-list{
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    color: #4F4F4F;
    padding-top: 12px;
}

.code{
    font-size: 17px;
    color: #4F4F4F;   
}

.courses{
    padding-left: 658px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.study-list{
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    color: #4F4F4F;
    padding-top: 12px;
}

.footer-wrapper{
    background-color: #4F4F4F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.git{
    display: block;
    text-decoration: none;
    color: #f9f8fd;
}

.year{
    color: #f9f8fd;
}

.footer-logo{
    width: 100px;
}

.git:hover{
    color:#157698;
}